.loader-wrapper{
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.9);	
	position: absolute;
	z-index: 9999;
	display: none;

	p{
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translate(-50%,50%);
		font-size: 17px;
	}
}
.loader{
	width: 90px;
    height: 20px;
    position: absolute;
    margin: 0 auto;
    font-size: 0;
    transform: translate(-50%,50%);
    left: 50%;
    top: 20%;

	&-item{
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-left: 10px;
		border-radius: 50%;
		background: #333333;
		animation: load .8s infinite linear;

		&:nth-child(2){
			animation-delay: -.6s;
		}

		&:nth-child(3){
			animation-delay: -.4s;
		}
	}
}

@keyframes load{
	0%{
		transform: translateY(0);
		opacity: .2;
	}

	50%{
		transform: translateY(-10px);
		opacity: .6;
	}

	100%{
		transform: translateY(0);
		opacity: .2;
	}
}